.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.8rem;
  }
  
  .input {
    width: 90%;
    padding: 12px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease;
  }
  

  .button {
    width: 100%;
    padding: 12px;
    background: #7E22CE;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  
  .button:disabled {
    background: #b0b3e3;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  