.inputContainer {
  /* display: flex; */
  /* flex-direction: column;  */
  width: 100%;
  text-align: left;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px; 
}

.input {
  /* width: 100%; */
  display: block;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  margin-bottom: 1rem;
}

.input:focus {
  border-color: #007bff;
}
